
<!-- Wrapper for slides -->
<div class="container">
  <div class="row">
    
    <div id="#main-carousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        <li data-target="#main-carousel" data-slide-to="3"></li>
      </ol>

      <!-- Carousel Slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "index/carousel-flower.png" %>
          <div class="carousel-caption">
            <h1>Celebrate with<br>custom made flowers</h1>
            <div class="btn btn-white btn-ghost">Learn More</div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "index/carousel-flower.png" %>
          <div class="carousel-caption">
            <h1>Celebrate with<br>custom made cookie</h1>
            <div class="btn btn-white btn-ghost">Learn More</div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "index/carousel-flower.png" %>
          <div class="carousel-caption">
            <h1>Celebrate with<br>custom made arts</h1>
            <div class="btn btn-white btn-ghost">Learn More</div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "index/carousel-flower.png" %>
          <div class="carousel-caption">
            <h1>Celebrate with<br>custom made sake</h1>
            <div class="btn btn-white btn-ghost">Learn More</div>
          </div>
        </div>
      </div>

    </div><!-- #main-carousel -->
  </div><!-- .row -->
</div><!-- .container -->

<!-- card index -->
<section class="container card-roll">
  <h3 class="top-playshop">TOP PLAYSHOP</h3>

  <nav class="container global-nav">
    <ul class="nav nav-index">
      <% @products.keys.each_with_index do |category, i| %>
        <% if i == 0 %>
          <li class='select'><%= category.upcase %></li>
        <% else %>
          <li><%= category.upcase %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>

  <% @products.keys.each_with_index do |category, i| %>
    <% if i == 0 %>
      <ul class="contents card">
    <% else %>
      <ul class="contents card opace">
    <% end %>

    <% @products[category].each do |product| %>
    <%= render 'common/card', {:product => product, :category => category} %>
    <% end %>
    </ul>
  <% end %>

</section>

<!-- discover cover -->

<section class="slider slider-index">
  <div class="jumbotron index-1">
    <div class="container">
      <div class="row">
        <h1>Order the Gift<br>with Share Payment</h1>
        <div class="btn btn-white btn-ghost">DISCOVER</div>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</section>


<!-- how it work -->
<div class="hiw-cover">
  <section class="container hiw">
    <div class="row">
      <h2>HOW PLAYORDER WORKS</h2>
      <ul class='how-it-works'>
        <li>
          <%= image_tag "index/hiw-1.png" %>
          <h2>1. Discover Gifts</h2>
          <p>Let&#39;s discover much-valued gifts</p>
        </li>
        <li>
          <%= image_tag "index/hiw-2.png" %>
          <h2>2. Share Payment</h2>
          <p>You can share and pay selection</p>
        </li>
        <li>
          <%= image_tag "index/hiw-3.png" %>
          <h2>3. Deliver Experience</h2>
          <p>Not product, but experience</p>
        </li>
      </ul>
    </div>
  </section>
</div>

<!-- startup cover -->

<section class="slider slider-index-2">
  <div class="jumbotron index-2">
    <h1>Order the Gift<br>with Share Payment</h1>
    <div class="btn btn-white btn-ghost">DISCOVER</div>
  </div>
</section>

<!-- let's get started -->
<div class="container">
  <div class="row">
    <section class="getstarted">
      <h2>Let&#39;s Get Started!</h2>
      <p>You can enjoy amazing order for gift or create custom gift.</p>
      <ul>
        <li><div class="btn btn-startorder">DISCOVER GIFT</div></li>
        <li><div class="btn btn-startup">CREATE GIFT</div></li>
      </ul>
    </section>
  </div>
</div>
