
<!-- slider -->
<section class="slider">
  <div class="jumbotron">
    <div class="container">
      <h1>Send GIFT with<br>Your friends</h1>
      <p class="explain">You can enjoy "made-to-order" gift community.</p>
      <p><a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</section>


<!-- card index -->
<section class="container card-roll">

  <nav class="container global-nav">
    <ul class="nav nav-index">
      <% @products.keys.each_with_index do |category, i| %>
        <% if i == 0 %>
          <li class='select'><%= category.upcase %></li>
        <% else %>
          <li><%= category.upcase %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>

  <% @products.keys.each_with_index do |category, i| %>
    <% if i == 0 %>
      <ul class="contents card">
    <% else %>
      <ul class="contents card opace">
    <% end %>

    <% @products[category].each do |product| %>
    <%= render 'common/card', {:product => product, :category => category} %>
    <% end %>
    </ul>
  <% end %>

</section>

<!-- how it work -->
<div class="hiw-cover">
  <section class="container hiw">
    <h2>HOW PLAYORDER WORKS</h2>
    <ul class='how-it-works'>
      <li>
        <%= image_tag "index/hiw-1.png" %>
        <h2>1. Pick a Gift</h2>
        <p>Choose around huge Payorder plattform</p>
      </li>
      <li>
        <%= image_tag "index/hiw-2.png" %>
        <h2>2. Share Payment</h2>
        <p>Let&#39;s share payment with your friends</p>
      </li>
      <li>
        <%= image_tag "index/hiw-3.png" %>
        <h2>3. Deliver Amazingly</h2>
        <p>Enjoy this amazing experience</p>
      </li>
    </ul>
  </section>
</div>
