<div class="shop-cover">
  <div class="container">
    <article class="shop-top">

      <section class="bigsign">
        <h2>Global Pants Around the World</h2>
        <ul class='title-list'>
          <li><%= image_tag "shop/location-icon.png" %><span>San Francisco</span></li>
          <li><%= image_tag "shop/wear-icon.png" %><span>WEAR</span></li>
        </ul>
      </section>

      <section class="shop-middle">

        <div class="shop-main">
          <%= image_tag "shop/shop-main-img.ong" %>
        </div>

        <div class="sright">

          <section class="number">
            <h1>$400</h1>
            <p>Price</p>
            <h1>14 days</h1>
            <p>Delivery Guidance<b>&#040;About&#041;</b></p>
          </section>

          <section class="shopbutton">
            <p>Let's order soon!</p>
            <a href="./payment.html">
              <button type="button" class="btn btn-danger btn-lg">ORDER NOW</button>
            </a>
          </section>

      </div>

    </section>

      <section class="smallsign">

        <div class="shop-phase">
          <h2>Have you every tried to wear GLOBAL PANTS,<br>Amazing experience makes you change at all.</h2>
          <ul class='share-b'>
            <li><span>Share: </span></li>
            <li class="twitter"><%= image_tag "shop/share-twitter.png" %></li>
            <li class="facebook"><%= image_tag "shop/share-facebook.png" %></li>
            <li class="embed"><%= image_tag "shop/share-embed.png" %></li>
            <li class="pinterest"><%= image_tag "shop/share-pinterest.png" %></li>
          </ul>
        </div>

        <div class="profile">

          <div class='owner-describe'>
            <h3><a href='./view.html'>Yuuki Asano</a></h3>
            <p>Realm</p>
            <ul class='social-i'>
              <li><%= image_tag "shop/shop-twitter.png" %></li>
              <li><%= image_tag "shop/shop-facebook.png" %></li>
              <li><%= image_tag "shop/shop-internet.png" %></li>
            </ul>
          </div>
          <div class='owner-icon main-owner'>
            <%= image_tag "shop/shop-main-owner-img.png" %>
          </div>

        </div>

      </section>

    </article>
  </div>
</div>

<div class="container">
  <article class="shop-bottom">

    <!-- global nav -->
    <nav class='global-nav'>
      <ul class='nav-index'>
        <li>STORY</li>
        <li>COMMENT</li>
      </ul>
    </nav>

    <!-- story -->
    <section class='story contents'>
      <div class='story-contents'>
        <h1>We get started everything with Asano GPants!</h1>
        <p>This is my life</p>
      </div>
    </section>

    <!--- comment-contents -->
    <section class='comment contents opace'>
      <div class='one-comment'>
        <div class='comment-left'>
          <%= image_tag "shop/shun-comment.png" %><br><br>
          <p class='comment-name'>Shun</p>
        </div>
        <div class='comment-right'>
          <p>Awesome! How many Gpants do you have?</p>
        </div>
      </div>

      <div class='one-comment'>
        <div class='comment-left'>
          <%= image_tag "shop/yuuki-comment.png" %><br><br>
          <p class='comment-name'><a href='./view.html'>Yuuki</a><p>
        </div>
        <div class='comment-right'>
          <p>Good question man! Last ... 10!!</p>
        </div>
      </div>

      <div class='commentarea'>
        <textarea class="form-control" rows="5">Leave a message.</textarea><br>
        <button type="button" class="btn btn-danger">SUBMIT</button>
    </section>


  </article>
</div>
