<div class="shop-cover">
  <div class="container">
    <article class="shop-top">

      <section class="bigsign">
        <h2><%= @product.title %></h2>
        <ul class='title-list'>
          <li><%= image_tag "shop/location-icon.png" %><span><%= @product.city %></span></li>
          <li><%= image_tag "shop/wear-icon.png" %><span><%= @product.category %></span></li>
        </ul>
      </section>

      <section class="shop-middle">
        <div class="shop-main">
          <%= image_tag @product.image.url(:product_page) %>
        </div>
        <div class="sright">
          <section class="number">
            <h1>$<%= @product.price %></h1>
            <p>Price</p>
            <h1><%= @product.delivery %> days</h1>
            <p>Delivery Guidance<b>&#040;About&#041;</b></p>
          </section>
          <section class="shopbutton">
            <p>Let's order soon!</p>
            <a href="./payment.html">
              <button type="button" class="btn btn-danger btn-lg">ORDER NOW</button>
            </a>
          </section>
        </div>
      </section>

      <section class="smallsign">
        <div class="shop-phase">
          <h2><%= @product.phrase %></h2>
          <ul class='share-b'>
            <li><span>Share: </span></li>
            <li class="twitter"><%= image_tag "shop/share-twitter.png" %></li>
            <li class="facebook"><%= image_tag "shop/share-facebook.png" %></li>
            <li class="embed"><%= image_tag "shop/share-embed.png" %></li>
            <li class="pinterest"><%= image_tag "shop/share-pinterest.png" %></li>
          </ul>
        </div>

        <div class="profile">
          <div class='owner-describe'>
            <h3><a href='./view.html'><%= @product.user.name %></a></h3>
            <p><%= @product.user.organization %></p>
            <ul class='social-i'>
              <li><%= image_tag "shop/shop-twitter.png" %></li>
              <li><%= image_tag "shop/shop-facebook.png" %></li>
              <li><%= image_tag "shop/internet.png" %></li>
            </ul>
          </div>
          <div class='owner-icon main-owner'>
            <%= image_tag @product.user.image.url(:thumb) %>
          </div>
        </div>
      </section>

    </article>
  </div>
</div>

<div class="container">
  <article class="shop-bottom">

    <!-- global nav -->
    <nav class='global-nav'>
      <ul class='nav-index'>
        <li>STORY</li>
        <li>COMMENT</li>
      </ul>
    </nav>

    <!-- story -->
    <section class='story contents'>
      <div class='story-contents'>
        <h1>We get started everything with Asano GPants!</h1>
        <p>This is my life</p>
      </div>
    </section>

    <!--- comment-contents -->
    <section class='comment contents opace'>
      <div class='one-comment'>
        <div class='comment-left'>
          <%= image_tag "shop/shun-comment.png" %><br><br>
          <p class='comment-name'>Shun</p>
        </div>
        <div class='comment-right'>
          <p>Awesome! How many Gpants do you have?</p>
        </div>
      </div>

      <div class='one-comment'>
        <div class='comment-left'>
          <%= image_tag "shop/yuuki-comment.png" %><br><br>
          <p class='comment-name'><a href='./view.html'>Yuuki</a><p>
        </div>
        <div class='comment-right'>
          <p>Good question man! Last ... 10!!</p>
        </div>
      </div>

      <div class='commentarea'>
        <textarea class="form-control" rows="5">Leave a message.</textarea><br>
        <button type="button" class="btn btn-danger">SUBMIT</button>
      </div>
    </section>

  </article>
</div>
