<!-- footer -->
<footer>
  <ul class='social-icon'>
    <li><a href='#'><%= image_tag "footer/facebook.png" %></a></li>
    <li><a href='#'><%= image_tag "footer/twitter.png" %></a></li>
    <li><a href='#'><%= image_tag "footer/youtube.png" %></a></li>
    <li><a href='#'><%= image_tag "footer/contact.png" %></a></li>
  </ul>
  <div class='footer-line'><%= image_tag "footer/footer-line.png" %></div>
  <ul class='general'>
    <li><a href='./index.html'>HOME</a></li>
    <li><a href='http://localhost:3000/static_page/about'>ABOUT</a></li>
    <li><a href='./contact.html'>CONTACT</a></li>
    <li><a href='./policy.html'>PLIBACY POLICY</a></li>
    <li><a href='./terms.html'>TERMS</a></li>
  </ul>
  <p class='copyright'>Copyright Playorder Inc, 2016 All Rights Reserved</p>
</footer>
