<!-- footer -->
<footer>
  <ul class='social-icon'>
    <li><a href='#'><%= image_tag "footer/facebook.png" %></a></li>
    <li><a href='#'><%= image_tag "footer/twitter.png" %></a></li>
    <li><a href='#'><%= image_tag "footer/youtube.png" %></a></li>
    <li><a href='#'><%= image_tag "footer/contact.png" %></a></li>
  </ul>
  <div class='footer-line'><%= image_tag "footer/footer-line.png" %></div>
  <ul class='general'>
    <li><%= link_to "Home", root_path %></a></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></a></li>
    <li><%= link_to "Privacy Policy", policy_path %></a></li>
    <li><%= link_to "Terms", terms_path %></a></li>
  </ul>
  <p class='copyright'>Copyright Playorder Inc, 2016 All Rights Reserved</p>
</footer>
